project:
  type: book

book:
  title: ""
  author: ""
  date: ""
  search: true
  repo-url: https://github.com/eopf-toolkit/eopf-101
  page-navigation: true
  sidebar:
   search: true
   logo: "img/EOPF_FINAL_LOGO.png"
  page-footer:
    left: "Development Seed, thriveGEO and SparkGeo"
    center: "License: Apache 2.0"
    right:
      - icon: github
        href: https://github.com/eopf-toolkit/eopf-101

  chapters:
    - index.qmd
    - part: "**About EOPF**"
      chapters:
        - 11_about_eopf.qmd
        - 12_about_cloudoptimized_formats.qmd
        - 13_overview_eopf_datasets.qmd
    - part: "**About EOPF Zarr**"
      chapters:
       - 21_what_is_zarr.qmd
       - 22_zarr_structure_S1GRD.ipynb
       - 23_S1_basic_operations.ipynb
       - 24_zarr_struct_S2L2A.ipynb
       - 25_zarr_struct_S3.ipynb
    - part: "**About Chunking**"
      chapters:
       - 31_zarr_chunking_intro.qmd
       - 32_zarr_chunking_strat.qmd
    - part: "**EOPF and STAC**"
      chapters:
        - 41_stac_intro.qmd
        - 42_eopf_stac_zarr_tutorial.qmd
        - 43_eopf_stac_connection.ipynb
        - 44_eopf_stac_xarray_tutorial.ipynb
    - part: "**Tools to work with EOPF Zarr**"
      chapters:
        - 51_eopf_stac_r.qmd
        # - 52_zarr_qgis.qmd
        # - 53_zarr_R.qmd
        # - 54_titiler.qmd
    - part: "**EOPF Zarr in Action**"
      chapters:
        - 61_sardinia_s2_tfci.ipynb
        - 62_sardinia_s3_lst.ipynb
        - 63_sardinia_dNBR.ipynb
        - 64_flood_mapping_valencia.ipynb
    - glossary.qmd
    - references.qmd
format:
  html:
    number-sections: false
    execute:
      eval: true
      timeout: 300
      error: true
      warning: false
    theme:
      - cosmo
      - brand
    include-in-header: |
      <!-- Privacy-friendly analytics by Plausible -->
      <script async src="https://plausible.io/js/pa-IdJjKOvKq9lif5cw4UK5i.js"></script>
      <script>
        window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
        plausible.init()
      </script>
