name: Build and update JupyterHub Notebook images on pyproject.toml or deployment changes

on:
  push:
    branches:
      - main
    paths:
      - 'pyproject.toml'
      - 'deployment/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > ~/.kube/config
          chmod 600 ~/.kube/config

      - name: Extract short commit hash
        id: commit
        run: echo "hash=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

      - name: Login to OVH Harbor docker registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.OVH_HARBOR_REGISTRY }}
          username: ${{ secrets.OVH_HARBOR_USERNAME }}
          password: ${{ secrets.OVH_HARBOR_PASSWORD }}
        
      - name: Build and push python docker image
        working-directory: deployment
        run: |
          make build-and-push-docker-image TAG=release-${{ steps.commit.outputs.hash }} PROJECT="python"
          make tag-docker-image TAG=latest PROJECT="python"
          make push-docker-image TAG=latest PROJECT="python"

      - name: Build and push r docker image
        working-directory: deployment
        run: |
          make build-and-push-docker-image TAG=release-${{ steps.commit.outputs.hash }} PROJECT="r"
          make tag-docker-image TAG=latest PROJECT="r"
          make push-docker-image TAG=latest PROJECT="r"
