name: Quarto Publish

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: write
  pages: write

jobs:
  prepare-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Login to OVH Harbor docker registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.OVH_HARBOR_REGISTRY }}
          username: ${{ secrets.OVH_HARBOR_USERNAME }}
          password: ${{ secrets.OVH_HARBOR_PASSWORD }}

  build-deploy:
    needs: prepare-docker-image
    runs-on: ubuntu-latest
    if: needs.prepare-docker-image.result == 'success'
    container:
      # We use the R image as this contains the same Python Dependencies as the Python one, so should work for everything
      image: 4zm3809f.c1.de1.container-registry.ovh.net/eopf-toolkit-r/eopf-toolkit-r:latest
      options: --entrypoint "" --user root
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}


      - name: Install quarto dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          gh \
          curl \
          jq \
          libfontconfig1 \
          libfreetype6 \
          libx11-6 \
          libxrender1 \
          libxext6 \
          ghostscript \
          zlib1g \
          git-all
          pip install uv
          uv sync

      - name: Initialize Git Repository
        run: |
          cd $GITHUB_WORKSPACE
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global --add safe.directory $GITHUB_WORKSPACE
          git config --global url."https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/"
          git fetch origin

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BUCKET_NAME: ${{ secrets.RENDER_BUCKET_NAME }}
          ACCESS_KEY: ${{ secrets.RENDER_BUCKET_ACCESS_KEY }}
          SECRET_KEY: ${{ secrets.RENDER_BUCKET_SECRET_KEY }}
          BUCKET_ENDPOINT: ${{ secrets.RENDER_BUCKET_ENDPOINT }}
